.chat_body{
    height: calc(100vh - 120px);
    overflow: scroll;
}


.title_tag{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
}

.discus{
    background-color: rgb(255, 255, 255);
}

.title{
    text-align: center;
    background-color: rgba(128, 128, 128, 0.47);
}

.inputs{
    align-items: center;
    margin:20px 20px;

}

.send_ms{
    min-height: 150px;
    max-height: 400px;
    background-color: #fdfdfd;
    outline: none;
}

.btn_ms{
    display: flex;
    justify-content: flex-end;
}

.green{
    background-color: rgba(128, 128, 128, 0.47);
}

.input_file{
    display: none;
}