
.nav{
    display: flex;
    flex-direction: row;
    background-color: #708D23;
    width: 100vw;
    align-items: center;
}

.logo img{
    height: 90px;
    width: 190px;
}

.tag{

}

.search{

}

.chat{

}


.profile img{
    object-fit: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.active{
    display: none;
    transition: .5s;
}

.notif{
    width: 350px;
    height: 500px;
    background: #FFFFFF;
    position: absolute;
    transform: translate(-40%);
    transition: .5s;
    top: 70px;
}

.count-notif{
    font-size: xx-small;
}

.notification{
    display:flex;
    flex-direction: row;
    background-color: rgba(128, 128, 128, 0.429);
    align-items: center;
    height: 50px;
}

.notification1{
    display:flex;
    flex-direction: row;
    background-color: rgba(114, 216, 249, 0.607);
    align-items: center;
    height: 50px;
}


.notification img{
    border-radius: 50%;
    height: 35px;
    width: 35px;
}


.notification1 img{
    border-radius: 50%;
    height: 35px;
    width: 35px;

}


