
.nav{
    display: flex;
    flex-direction: row;
    background-color: #708D23;
    width: 100vw;
    align-items: center;
}

.logo img{
    height: 90px;
    width: 190px;
}

.tag{

}

.search{

}

.chat{

}

.profile img{
    object-fit: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}